# This is the name of the database, and the base of the shadow
# database used in dev environments
export DATABASE_NAME="eg"
export SHADOW_DATABASE_NAME="${DATABASE_NAME}_shadow"

# This is the user used to run migrations. It owns the DB,
# the schema, the tables, the functions. Everything.
export MIGRATOR_ROLE="eg_migrator"
export MIGRATOR_ROLE_PASSWORD="password_goes_here"

# This is the user that the postgraphile API is run as.
# It only has minimal permissions, and the ability to
# assume the application roles
export API_ROLE="eg_api"
export API_ROLE_PASSWORD="password_goes_here"

# This is the URL for your actual application database
export DATABASE_URL="postgres://${MIGRATOR_ROLE}:${MIGRATOR_ROLE_PASSWORD}@localhost:5432/eg"

# This is the URL for the "shadow" database used by graphile migrate
# Only used in development
export SHADOW_DATABASE_URL="postgres://${MIGRATOR_ROLE}:${MIGRATOR_ROLE_PASSWORD}@localhost:5432/eg_shadow"
export SHADOW_SUPER_USER_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/${SHADOW_DATABASE_NAME}"

# This is the URL with root database credentials to connect to the auto-created DB in the postgres
# cluster. This is used to run the init cluster script and to reset dev DBs using graphile-migrate reset
export ROOT_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"
export ROOT_ROLE="postgres"

# This is the URL used to initialize the db. This script only performs queries that need
# to be run as a super user: dropping public schema, extension setup, etc
export SUPER_USER_DATABASE_URL="postgres://postgres:postgres@localhost:5432/eg"
